@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #D9D8BD, #FCE7CC);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #79776a83;
    width: 800px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #E7C5FC;
    text-align: center;
    text-shadow: 1px 1px 2px #65566e80;

}

h2{
    color: #85B3DE;
}

p{
    text-align: justify;
}
